[submodule "eval_final/caption_eval"]
	path = eval_final/caption_eval
	url = https://github.com/vsubhashini/caption-eval.git
[submodule "eval_final/BboxToolkit"]
	path = eval_final/BboxToolkit
	url = https://github.com/jbwang1997/BboxToolkit
